[Unit]
Description=Spotify Service
Requires=spotifypro.socket
After=network.target

[Service]
WorkingDirectory={{ repository_path }}
ExecStart=gunicorn3 -b 127.0.0.1:8000 spotify:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target