user www-data;

events {}

http {
    server {
        listen          80;
        server_name     0.0.0.0;
        location / {
            proxy_pass http://unix:/run/spotifypro.sock;
        }
    }
}