[Unit]
Description=Spotify Service
Requires=spotifypro.socket
After=network.target

[Service]
Type=notify
User=pi
Group=www-data
RuntimeDirectory=spotifypro
WorkingDirectory={{ repository_path }}
ExecStart=/home/pi/Desktop/SpotifyPro/env/bin/gunicorn -b unix:/run/spotifypro/spotifypro.sock -w 3 spotify:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target